*{
    box-sizing: border-box;
}
h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
    font-weight: 500;
}
h1{
    margin: 20px 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #ebffff;
}
.hidden{
    display: none;
}
.board{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    background-color: #fff;
}
.column{
    flex: 1;
    border: 1px solid;
    min-height: 100vh;
    padding: 20px;
    .tasks{
        height: 100%;
        border-top: 1px solid;
        margin-top: 10px;
        padding-top: 10px;
    }
}
#todo_column h2{
    display: inline;
}
#add_new_todo_btn {
    position: relative;
    top: -2px;
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #f3efef;
    font-size: 24px;
    cursor: pointer;
    padding: 2px 10px;
}
#add_new_todo_btn:hover{
    background-color: #cff8da;
    border: 1px solid #cff8da;
}
.task{
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 0.75;
    background: hsl(350, 100%, 92%);
    margin: 10px 0;
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #777;
    input,
    textarea{
        width: 100%;
        border: none;
        background-color: rgba(0,0,0,0);
    }
    input,h2{
        font-size: 18px;
        font-weight: 400;
    }
    textarea{
        flex: 1
    }

}
.delete-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: rgba(0,0,0,0)
}
#complete_tasks{
    .task{
        background-image: url('./mark.jpg');
        background-size: cover;
        background-position-y: center;
        color: rgba(0, 0, 0, 0);
        background-color: rgb(255, 215, 141);
    }
    .task:hover{
        background-image: none;
        color: #000;
    }
    .task:hover::before{
        content: "";
    }
    .task::before{
        content: "YOU DID IT!!";
        position: absolute;
        top: 45%;
        left: 30px;
        color: #c4ffbc;
        font-size: 24px;
        font-family: "Comic Neue", cursive;
        font-weight: 600;
    }
}
#in_progress_tasks{
    .task{
        background-color: rgb(177, 255, 200)
    }
}
